<nav class="global-nav">
  Navigate:
  <a href="{{ nav_home_url }}">Home</a>
  <span class="u">{{ nav_home_url }}</span>
  |
  <a href="{{ nav_index_url }}">Find a topic A-Z</a>
  <span class="u">{{ nav_index_url }}</span>
  |
  <a href="{{ nav_years_url }}">Years</a>
  <span class="u">{{ nav_years_url }}</span>
  |
  <a href="{{ nav_members_url }}">Members</a>
  <span class="u">{{ nav_members_url }}</span>
  |
  <a href="{{ nav_bills_url }}">Bills</a>
  <span class="u">{{ nav_bills_url }}</span>
</nav>
